@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

:root{
    --primary: #343F16;
    --secondary: #F0DDDC;
    --terciary: #CEB5B4;
    --textColor: #383636;
}

html{
    box-sizing: border-box;
    height: 100%;
    font-family: 'Josefin Sans';
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* animação */
.invi{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

.wave-primary{
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-primary svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 68px;
}

.wave-primary .shape-fill {
    fill: #343F16;
}

.wave-secondary {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-secondary svg {
    position: absolute;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.wave-secondary .shape-fill {
    fill: #F0DDDC;
}

.para-o-topo{
    width: 50px;
    height: 50px;
	position: fixed;
	bottom: 32px;
	right: 32px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #343f1649;
	border-radius: 40%;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;
}

.para-o-topo:hover{
    background-color: #15180e;
}

.para-o-topo.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.header{
    width: 100%;
    height: 100px;
    background-color: var(--primary);
    display: flex;
    /* position: fixed; */
    z-index: 105;
}

.header .brand-logo{
    width: 20%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo{
    width: 136px;
    height: 70px;  
    z-index: 105;
}

.header .navibar{
    width: 60%;
    height: 100%;
    font-size: 12px; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    user-select: none;
    position: relative;
}

a{
    text-decoration: none;
    color: var(--secondary);
    display: inline-block;
    position: relative;
}

button a{
    color: var(--primary);
}

h2{
    padding-top: 20px;
    margin: 16px;
    font-weight: 400;
}

.link:after{
    content: '';
    position: absolute;
    width: 60%;
    margin-left: 16px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    margin-bottom: 40px;
}

.second:after{
    width: 71%;
}

.third:after{
    width: 71%;
}

.fourth:after{
    width: 69%;
}

h2:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.header .login-button{
    width: 20%;
    height: 100%;
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.header button{
    width: 100px;
    height: 40px;
    background-color: var(--secondary);
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 18px; 
    color: var(--primary);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: #2b301c;
    color: var(--secondary);
}

.landing-page{
    width: 100%;
    height: 840px;
    background-color: var(--primary);
    display: flex;
}

.meio-animacao{
    width: 100%;
    height: 840px;
    background-color: var(--primary);
    display: flex;
}

.meio-animacao .texto-principal{
    width: 45%;
    height: 740px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary);
    font-family: Josefin Sans;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    user-select: none;
    border-radius: 0 600px 600px 0;
    background-color: var(--secondary);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.texto-principal p{
    padding-right: 10px;
}

.meio-animacao .imagem{
    width: 50%;
    height: 740px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--secondary);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.landing-page .container{
    width: 425px;
    height: 520.828px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--primary);
    margin-right: 50px;
    border-radius: 30px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
    margin-right: 90px
}

.landing-page .cavalo{
    width: 425px;
    height: 677px; 
    padding-bottom: 79px;
}

.landing-page .bird-r{
    margin-right: 670px;
    width: 95px;
    height: 57px; 
    position: absolute;
    transition-delay: 200ms;
}

.landing-page .bird-rr{
    margin-right: 770px;
    margin-bottom: 250px;
    width: 95px;
    height: 57px; 
    position: absolute;
    transition-delay: 400ms;
}

.main-1{
    width: 100%;
    height: 920px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
}

.titulo-centro{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-size: 48px;
    font-style: normal;
    font-weight: 600; 
    margin-top: 35px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.textos{
    width: 100%;
    height: 100px;
    display: flex;
}

.texto-esquerda{
    width: 50%;
    height: 100px;
    margin-left: 300px;
    margin-top: 50px;
    display: flex;
}

.texto-esquerda .adress{
    margin-top: 16px;
    width: 432px; 
    color: var(--textColor);
    font-size: 24px;
    font-style: normal;
    font-weight: 500; 
    /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
}

.location{
    margin-left: 45px;
    width: 80px;
    height: 77px; 
}

.conteudo{
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: row;
}

.esquerda{
    width: 50%;
    height: 620px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.maps{
    border-radius: 15px;
    margin-right: 100px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    -webkit-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.maps:hover{
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.direita{
    width: 50%;
    height: 920px;
    display: column;
    justify-content: center;
    align-items: center;
    padding-right: 350px;
}

.direita .topico{
    width: 100%;
    margin-top: 30px;
    /* margin-left: 80px; */
    color: var(--textColor);
    font-family: Josefin Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: normal; 
    text-align: justify;
}

.direita h1{
    text-align: center;
    margin-top: 75px;
}

.direita .bird-l-1{
    margin-left: 500px;
    margin-top: -150px;
    position: absolute;
    width: 55px;
    height: 38px; 
    transition-delay: 400ms;
}

.direita .bird-l-2{
    margin-left: 540px;
    margin-top: -110px;
    position: absolute;
    width: 95px;
    height: 57px; 
}

.esquerda{
    transition-delay: 1200ms;
}

.direita{
    transition-delay: 200ms;
}

.main-baias{
    width: 100%;
    height: 700px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
}

.main-baias .titulo-baias{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 90px;
    font-size: 24px;
    user-select: none;
}

.imagens-baias{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding-right: 350px;
    padding-left: 350px;
    padding-top: 130px;
    position: absolute;
}

.texto-baias{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 350px;
    padding-left: 350px;
    margin-top: 230px;
    text-align: center;
}

.main-piquetes{
    width: 100%;
    height: 700px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
}

.main-piquetes .titulo-piquetes{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    user-select: none;
}

.imagens-piquetes{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    padding-right: 350px;
    padding-left: 350px;
    padding-bottom: 50px;
    position: absolute;
}

.photo:nth-child(1){
    width: 500px;
    height: 300px;
}

.photo:nth-child(2){
    width: 200px;
    height: 300px; 
    /* transition-delay: 200ms; */
}

.photo:nth-child(3){
    width: 500px;
    height: 300px;
    /* transition-delay: 400ms; */
}

.photo:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.texto-piquetes{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 350px;
    padding-left: 350px;
    margin-top: 140px;
    text-align: center;
}

.main-2{
    width: 100%;
    height: 1080px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 80px;
    padding-right: 80px; */
}

.cards-align{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
}

.card{
    position: relative;
    width: 400px;
    height: 600px;
    background-color: var(--secondary);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px var(--secondary);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    gap: 30px;
}

.card:nth-child(1){
    transition-delay: 200ms;
    background-image: url(Imagens/Cards/cavalo-card-platinum.jpg);
    background-size: 150%;
}

.card:nth-child(2){
    transition-delay: 400ms;
    background-image: url(Imagens/Cards/cavalo-card-diamond.jpg);
    background-size: 155%;
}

.card:nth-child(3){
    transition-delay: 600ms;
    background-image: url(Imagens/Cards/cavalo-card-golden.jpg);
    background-size: 155%;
}
  
.card svg{
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
}
  
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
  
.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--secondary);
    color: black;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card__content li{
    margin-left: 15px;
    z-index: 1;
}

.card__content h4{
    align-self: center;
    margin-top: 350px;
    /* margin-left: 55px; */
    color: gray;
}

div.card:nth-child(1) > div:nth-child(2) > a:nth-child(10) > h4:nth-child(1){
    margin-left: 65px;
}

div.card:nth-child(2) > div:nth-child(2) > a:nth-child(11) > h4:nth-child(1){
    margin-left: 82px;
}

div.card:nth-child(3) > div:nth-child(2) > a:nth-child(10){
    margin-left: 75px;
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
}

.card:hover svg {
    scale: 0;
}
  
.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
}

.titulo-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
    font-size: 24px;
    user-select: none;
    color: var(--secondary);
    font-size: 48px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.card:nth-child(odd){
    width: 370px;
    height: 570px;
    margin-top: 20px;
}

.main-3{
    width: 100%;
    height: 980px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll{
    width: 70%;
    height: 650px;
    display: flex;
    padding:4px;
    background-color: var(--primary);
    overflow-x: auto;
    overflow-y: scroll;
    text-align: justify;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.titulo-timeline{
    padding-bottom: 45px;
    font-size: 80px;
    color: var(--primary);
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.timeline{
    margin-top: 200px;
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
}

/* Outer Layer with the timeline border */
.outer{
  border-left: 2px solid #333;
  margin-top: 550px;
}

/* Card container */
.card-timeline {
    padding-top: 200px;
    position: relative;
    margin: 0 0 20px 20px;
    padding: 20px;
    background: white;
    color: black;
    border-radius: 8px;
    width: 600px;
    height: 200px;
    background-color: var(--terciary);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
}

/* Information about the timeline */
.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: var(--primary);
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--primary);
  border-radius: 999px;
  left: -46px;
  border: 3px solid var(--secondary);
}

.footer{
    width: 100%;
    height: 400px;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.informacoes{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 100px;
    margin-bottom: 50px;
    margin-top: 160px;
    color: var(--secondary);
}

.informacoes a{
    margin: 10px;
    align-self: flex-start;
    font-size: 20px;
}

.informacoes.links a{
    padding-left: 50px;
}

.informacoes h1{
    margin-bottom: 50px;
    color: var(--secondary);
}

.informacoes.email h1{
    margin-bottom: 30px;
}

.informacoes.email .email{
    margin: 10px;
    align-self: flex-start;
    width: 100%;
    height: 90px;
}

.informacoes.email a{   
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.informacoes.email button{
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.178);
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 14px; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease 0.6s;
    /* box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5); */
}

.informacoes.email button:hover{
    border: solid 1px;
    color: rgb(196, 191, 191);
}

.informacoes.email .email{
    height: 30px;
    border-radius: 5px;
    border-width: 2px;
    border: solid 1px gray;
    outline: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.349);
    color: white;
}

.informacoes.email .email:focus{
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.144);
}

.informacoes.email h3{
    align-self: flex-start;
    margin-left: 8px;
    margin-top: 10px;
}

.copyright{
    width: 100%;
    height: 60px;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: white;
    font-size: 12px;
}

@media screen and (max-width: 1900px){
    .texto-principal p{
        font-size: 70px;
        padding-right: 10%;
    }

    .direita .topico{
        width: 150%;
    }

    .main-2{
        padding-left: none;
        padding-right: none;
    }

    .texto-baias, .texto-piquetes{
        padding-right: 250px;
        padding-left: 250px;
    }

    .cards-align{
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 1410px){
    .direita .topico{
        width: 200%;
    }

    .maps {
        margin-right: 50px;
    }

    .texto-baias, .texto-piquetes{
        padding-right: 150px;
        padding-left: 150px;
    }
}

@media screen and (max-width: 1227px){
    .direita .topico{
        width: 200%;
    }

    .texto-baias, .texto-piquetes{
        padding-right: 100px;
        padding-left: 100px;
    }
}

.navibar #dialog{
    color: white;
    background-color: rgb(202, 97, 97);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 5px;
    margin-right: 25%;
    margin-top: 25px;
    height: 50px;
    width: 210px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    border: 1px solid;
    border-color: red;
    position: fixed;
    z-index: 123123;
    /* animation: hideAnimation 5s ease-out 5s;
    animation-fill-mode: forwards; */
}

/* @keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
} */