@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: Dubiel;
    src: url(Fonts/Dubiel.ttf);
}

:root{
    --primary: #343F16;
    --secondary: #CEB5B4;
    --textColor: #F0DDDC;
}

html{
    box-sizing: border-box;
    height: 100%;
    /* font-family: 'Dubiel'; */
    font-family: 'Josefin Sans';
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 90px;
    background-color: var(--primary);
    display: flex;
    position: fixed;
}

.header .brand-logo{
    width: 20%;
    height: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

img{
    width: 42px;
    height: 57px;   
}

.header .navibar{
    width: 60%;
    height: 100%;
    font-size: 12px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a{
    text-decoration: none;
    color: var(--textColor);
    display: inline-block;
    position: relative;
}

h2{
    padding-top: 20px;
    margin: 16px;
    font-weight: 400;
}

.first:after{
    content: '';
    position: absolute;
    width: 77%;
    margin-left: 16px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--textColor);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    margin-bottom: 30px;
}

.second:after{
    content: '';
    position: absolute;
    width: 71%;
    margin-left: 16px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--textColor);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    margin-bottom: 30px;
}

.third:after{
    content: '';
    position: absolute;
    width: 71%;
    margin-left: 16px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--textColor);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    margin-bottom: 30px;
}

h2:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.header .login-button{
    width: 20%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.header button{
    width: 100px;
    height: 40px;
    background-color: var(--textColor);
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 18px; 
    color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #606B39;
    color: white;
}

button:active{
    background-color: #2b301c;
}

.landing-page{
    width: 100%;
    height: 1080px;
    background-color: var(--primary);
}

.main-1{
    width: 100%;
    height: 1080px;
    background-color: var(--secondary);
}

.main-2{
    width: 100%;
    height: 1080px;
    background-color: var(--primary);
}

.footer{
    width: 100%;
    height: 500px;
    background-color: var(--secondary);
}

